@model MovieTickets.Areas.Admin.ViewModels.DashboardViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Dashboard Admin";
}
<div class="row">
    <div class="col-md-3">
        <div class="card bg-primary text-white">
            <div class="card-body">
                <h4>@Model.TotalMovies</h4>
                <p>Movies</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card bg-success text-white">
            <div class="card-body">
                <h4>@Model.TotalCategories</h4>
                <p>Categories</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card bg-warning text-dark">
            <div class="card-body">
                <h4>@Model.TotalUsers</h4>
                <p>Users</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card bg-danger text-white">
            <div class="card-body">
                <h4>@Model.TotalBookings</h4>
                <p>Bookings</p>
            </div>
        </div>
    </div>
</div>
