/* wwwroot/css/admin.css */
body {
    font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

.card {
    border-radius: .5rem;
}

.table-hover tbody tr:hover {
    background-color: rgba(0,0,0,.03);
}

.navbar-brand {
    font-weight: 600;
}

aside .card {
    position: sticky;
    top: 20px;
}
