@model MovieTickets.Areas.Admin.ViewModels.CategoryFormViewModel

@{
    ViewData["Title"] = "Edit Category";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

}

<h2>Edit Category</h2>
<hr />

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />

    <partial name="_CategoryFormPartial" model="Model" />

    <button type="submit" class="btn btn-warning">Update</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
